<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sibau.econutride">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EcoNutRide">
        <activity
            android:name=".featureddrivers"
            android:exported="false" />
        <activity
            android:name=".mycoupons"
            android:exported="false" />
        <activity
            android:name=".gallery"
            android:exported="false" />
        <activity
            android:name=".ridehistory"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".topspots"
            android:exported="false" />
        <activity
            android:name=".Bookride"
            android:exported="false" />
        <activity
            android:name=".drawer"
            android:exported="false"
            android:label="@string/title_activity_drawer"
            android:theme="@style/Theme.EcoNutRide.NoActionBar" />
        <activity
            android:name=".Dashboard"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>